[submodule "libs/jsoup"]
	path = libs/jsoup
	url = git@github.com:w-shackleton/jsoup.git
[submodule "androidnetspoof/src/main/jni/arp-scan/arp-scan"]
	path = androidnetspoof/src/main/jni/arp-scan/arp-scan
	url = https://github.com/w-shackleton/arp-scan.git
