<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.digitalsquid.netspoofer"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".NetSpoof"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Setup Status" android:name="SetupStatus"></activity>
        <service android:name="InstallService" android:label="Installer Service"></service>
        <activity android:name="HackSelector" android:label="@string/selecthack"></activity>
        <service android:name="NetSpoofService"></service>
        <activity android:name="RouterSelector" android:label="@string/selectgateway" android:noHistory="true"></activity>
        <activity android:label="@string/selectvictim" android:name="VictimSelector" android:noHistory="true"></activity>
        <activity android:label="@string/spoofrunning" android:name="SpoofRunning" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/preferences" android:name="Preferences"></activity>

    </application>
</manifest>