<?xml version="1.0" encoding="utf-8"?>
<!--
 * This file is part of Network Spoofer for Android.
 * Network Spoofer - change and mess with webpages and the internet on
 * other people's computers
 * Copyright (C) 2011 Will Shackleton
 *
 * Network Spoofer is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Network Spoofer is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Network Spoofer, in the file COPYING.
 * If not, see <http://www.gnu.org/licenses/>.
 * -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.digitalsquid.netspoofer"
    android:versionCode="210"
    android:versionName="2.1.0">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="App" android:allowBackup="true">
        <activity android:name=".NetSpoof"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SpoofSelector" android:label="@string/selecthack">
            <intent-filter>
                <action android:name="android.intent.action.PICK"></action>
            </intent-filter>
        </activity>
        <service android:name="NetSpoofService"></service>
        <activity android:name="RouterSelector" android:label="@string/selectgateway" android:noHistory="true"></activity>
        <activity android:label="@string/selectvictim" android:name="VictimSelector" android:noHistory="true"></activity>
        <activity android:label="@string/app_name" android:name="SpoofRunning" android:screenOrientation="portrait"></activity>
        <activity android:label="@string/preferences" android:name="Preferences"></activity>
        <activity android:name="About" android:theme="@style/AboutTheme" android:label="@string/about"></activity>
        <activity android:name="YoutubeSelector" android:label="@string/selectvideo">
        </activity>
        <activity android:name="MultiSpoofDialogRunner" android:label="@string/configuring"></activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>
</manifest>
